body {
  margin: auto 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.mainGrid {
  display: grid;
  padding: 0;
  margin: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em;
}

.divHeader {
  grid-column: 1/3;
  background-color: #ffffff00;
}
.flexHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
.logo {
  max-width: 50%;
}
.logo:hover {
  scale: 109%;
  transition: 0.1s;
}
.logoGH {
  max-width: 50%;
}
.logoGH:hover {
  scale: 109%;
  transition: 0.1s;
}
.divLogo {
  grid-row: 1/2;
  align-content: center;
  justify-content: center;
}
.divLogoGH {
  grid-row: 1/2;
  grid-column: 2/3;
  align-content: center;
  justify-content: center;
}
.divTitulo {
  grid-row: 1/2;
}

.titulo {
  text-align: center;
  font-size: 3rem;
}
.divInput {
  grid-column: 1/2;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
}
.divOutput {
  grid-column: 2/3;
  text-align: center;
  justify-content: center;
  border-radius: 40px;
}
.sectionContainers {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.divOutIn {
  border: #e8175d solid 0.5rem;
  background-color: #ff2e74;
  padding: 2rem;
  margin: 1.5rem 0.5rem;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 5px 5px 15px rgba(70, 70, 70, 0.12);
}

.txtBox {
  width: 500px;
  height: 12rem;
  background-color: #ffffff;
  margin: 10px;
}

.btn {
  /* background styles */
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  border-radius: 15px;
  padding: 15px 25px;
  background-color: #e8175d; /*for compatibility with older browsers*/
  background-image: linear-gradient(#e8175d, #e82264);

  /* text styles */
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-family: sans-[serif];
  font-weight: 100;
}

.btn:hover {
  background: linear-gradient(#920e3a, #e82264);
  transition: 0.5s;
}

.btn:after {
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}

.subtitulo {
  text-align: center;
  font-size: 2rem;
}

/*MOBILE PHONES*/
@media only screen and (max-width: 500px) {
  .txtBox {
    min-width: 100px;
    max-width: 160px;
    height: 4rem;
    margin: 8px;
  }
  .mainGrid {
    display: grid;
    padding: 0;
    margin: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: 1fr;
    gap: 0.5em;
  }

  .divHeader {
    grid-column: 1/-1;
    background-color: #ffffff00;
    max-width: 100%;
  }
  .divInput {
    grid-column: 1/-1;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    max-width: 75%;
    min-height: 70%;
  }
  .divOutput {
    grid-column: 1/-1;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    max-width: 75%;
    min-height: 80%;
  }

  .txtBox {
    min-width: 190px;
    height: 4rem;
    margin: 8px;
  }
  .btn {
    /* background styles */
    position: relative;
    margin-top: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: #e8175d; /*for compatibility with older browsers*/
    background-image: linear-gradient(#e8175d, #e82264);

    /* text styles */
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-family: sans-[serif];
    font-weight: 100;
  }
  .titulo {
    text-align: center;
    font-size: 2rem;
  }
  .subtitulo {
    text-align: center;
    font-size: 1.5rem;
  }
  .divOutIn {
    border: #e8175d solid 0.5rem;
    background-color: #ff2e74;
    padding: 2rem;
    margin: 2rem 0.2rem;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
      inset 5px 5px 15px rgba(70, 70, 70, 0.12);
  }
  .logo {
    max-width: 130%;
  }

  .logoGH {
    display: none;
  }
  .flexHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }
  .divLogo {
    grid-row: 1/2;
    grid-column: 1/2;
    align-content: center;
    justify-content: center;
  }
  .divLogoGH {
    grid-row: 1/2;
    grid-column: 2/3;
    align-content: center;
    justify-content: center;
  }
  .divTitulo {
    grid-row: 1/2;
  }
}
